body{
    background-color: chartreuse;
    margin: 0;
    background-repeat:no-repeat;
      height: 210vh;
       padding: 0px;
   
}

h1, p {
    text-align: center;
}
form{
    min-height: 700px;
    max-width: 80%;
    background-color: powderblue; 
    padding: 45px;
    margin:  40px;

}
#number, #name, #email{
    padding: 10px;
    width: 35rem;
    border: none;
    border-radius: 8px;

    
}
S
label{
    display: block;
}
select{
    height: 5vh;
       border: whitesmoke solid 1px;
 padding: 2px 9px;
    width: 56vw;
    margin: auto;
    border-radius:3px;
}


